<h1>Buddies</h1>
<p *ngIf="!invites"><em>Loading...</em></p>

<table class='table' *ngIf="invites">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr *ngFor="let Invite of invites">
            <td ><input *ngIf="Invite.isNew" [(ngModel)]="Invite.date" /><span *ngIf="!Invite.isNew">{{ Invite.date }}</span></td>
            <td><input *ngIf="Invite.isNew" [(ngModel)]="Invite.time" /><span *ngIf="!Invite.isNew">{{ Invite.time }}</span></td>
            <td><input *ngIf="Invite.isNew" [(ngModel)]="Invite.status" /><span *ngIf="!Invite.isNew">{{ Invite.status }}</span></td>
            <td><input type="button" *ngIf="Invite.isNew" (click)="saveInvite(Invite)"  value="Save" id="save-button"></td>
        </tr>
</table>

<button class="btn" (click)="addInvite()">Add Invite</button>